<div class="view" [ngClass]="{'light' : theme == 'light', 'dark': theme == 'dark', 'colorful' : theme == 'colorful'}">
    <div class="navbar">
        <div class="title">
            {{ title }}
        </div>
        <div class='nav-items'>
            <div class="item">
                About
            </div>
            <div class="item">
                Experience
            </div>
            <div class="item">
                Projects
            </div>
            <div class="item">
                Designs
            </div>
            <div class="item">
                Blog
            </div>
            <div class="item">
                Resume
            </div>
            <i class="material-icons" (click)="changeTheme()">{{ currentTheme }}</i>
        </div>
        <div class="mobile-nav">
            <i class="material-icons" (click)="mobileNav()">sort</i>
        </div>
        <div class="mobile-nav-items" [ngClass]="{'active' : navActive == true}">
            <div class="mobile-nav">
                <i class="material-icons" (click)="mobileNav()">sort</i>
            </div>

            <div class="items">
                <div class="mobile-item">
                    About
                </div>
                <div class="mobile-item">
                    Experience
                </div>
                <div class="mobile-item">
                    Projects
                </div>
                <div class="mobile-item">
                    Designs
                </div>
                <div class="mobile-item">
                    Blog
                </div>
                <div class="mobile-item">
                    Resume
                </div>            
                <i class="material-icons" (click)="changeTheme()">{{ currentTheme }}</i>
            </div>
        </div>

    </div>

    <!-- <div class="watermark">
        STARK
    </div> -->
    <div class='content'>
        <div class="home" #home>
            <div class="title">
                CAMERON STARK
            </div>
            <br>
            <div class="sub-title">
                Designing and Building To Improve User Productivity
            </div>
            <div class="position" id="position-1">
                Full Stack Web/App Developer
            </div>
            <div class="position" id="position-2">
                UI/UX Designer
            </div>
            <br>
            <div class="actions">
                <div class="action">
                    Projects
                </div>
                <div class="action-alt">
                    Designs
                </div>
            </div>

        </div>

        <div class="about" #about>
            <div class="title">
                ABOUT ME
            </div>
            <div class="info">
                <div class='bio'>
                    <div class="desc">
                        I am an <b>Application Developer</b> based in the U.S., I enjoy the complications and diverse problems that come up with <b>Full-Stack Development</b>, and the <b>Design</b> process associated with it. 
                    </div>
                    <div class="edu">
                        <div class="school">
                            Embry-Riddle Aeronautical University
                        </div>
                        <div class="degree">
                            Bachelors of Science in Software Engineering
                        </div>
                    </div>
                </div>
                <div class="skill-cards">
                    <div class="skill-card">
                        <div class="skill-title">
                            Front-End
                        </div>
                        <div class="skills">
                            <p *ngFor="let item of frontEndLangs">
                                {{ item.lang }}
                            </p>
                        </div>
                    </div>
                    <br>
                    <div class="skill-card">
                        <div class="skill-title">
                            Back-End
                        </div>
                        <div class="skills">
                            <p *ngFor="let item of backEndLangs">
                                {{ item.lang }}
                            </p>
                        </div>
                    </div>
                    <br>
                    <div class="skill-card">
                        <div class="skill-title">
                            Frameworks
                        </div>
                        <div class='skills'>
                            <p *ngFor="let item of frameworks">
                                {{ item.lang }}
                            </p>
                        </div>
                    </div>
                    <br>
                    <div class="skill-card">
                        <div class="skill-title">
                            Tools
                        </div>
                        <div class="skills">
                            <p *ngFor="let item of tools">
                                {{ item.lang }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="experience" #experience>
            <div class="title">
                EXPERIENCE
            </div>
            <div class="info">
                <div class="experience-cards">
                    <div class="experience-card" *ngFor="let item of experiences">
                        <div class="position">
                            <div class="company">
                                {{ item.company }}
                            </div>
                            <div class="job-title">
                                {{ item.title }}
                            </div>
                            <div class="period">
                                {{ item.period }}
                            </div>
                        </div>
                        <div class="details">
                            <div class="description">
                                {{ item.description }}
                            </div>
                            <div class="tech">
                                {{ item.tech }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="projects" #projects>
            <div class="title">
                PROJECTS
            </div>
            <div class="info">
                <div class="project-cards">
                    <div class="project-card" (click)="toggleSidebar()">
                        
                    </div>
                    <div class="project-card">
                        
                    </div>
                    <div class="project-card">
                        
                    </div>
                    <div class="project-card">
                        
                    </div>
                    <div class="project-card">
                        
                    </div>
                    <div class="project-card">
                        
                    </div>
                    <div class="project-card">
                        
                    </div>
                    <div class="project-card">
                        
                    </div>
                    <div class="project-card">
                        
                    </div>
                    <div class="project-card">
                        
                    </div>
                    <div class="project-card">
                        
                    </div>
                    <div class="project-card">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>